.upperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;

  svg {
    cursor: pointer;
    fill: #1976d2;
  }

  form {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;

    input {
      padding-left: 10px;
    }
  }
}

.svg {
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.spinner {
  margin-top: 50px;
  width: 200vh;
  height: 20vh;
}

.noUsersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: #1976d2;
    margin-bottom: 10px;
  }

  p {
    color: #555;
    margin-bottom: 20px;
  }

  button {
    margin-top: 10px;
  }
}

.ModalUserContainer {
  display: flex;
  flex-direction: column;
  margin: 5%;
  gap: 5vh;
  max-height: 65vh;
  overflow-y: scroll;
}

.SelectOptions {
  height: 50vh;
}