
$background-secondarycolor: #1976D5; 
$background-defaultcolor: #424242;
$header-backgroundcolor: #ebebeb;

$font-defaultcolor: #FFF5EA;
$font-secondarycolor: #888;
$font-blackcolor: #313638;

$temp-background: #00000036 ;

.CurricularUnitPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%
}

.CurrUnitHeader{
    height: 30vh;
    width: 100vw;
    background-color: $background-secondarycolor;
    display: flex;
    align-items: end;
    flex-direction: column ;
    padding-right: 5%;
    border: 3px solid $temp-background;
    margin-top: 4%;
    margin-bottom: 2%;
}

.CurrUnitHeader > h1 {
    margin-bottom: 0;
}

.CurrUnitHeader > h2 {
    margin: 0.2vh;
}

.CurrUnitContent{
    display: flex;
    flex-direction: column;
    margin: 5;
    width: 96%;
    border-radius: 12px;
    background-color: #DADADA;
    margin-bottom: 2%;
    min-height: 35vh;
}

.CurrUnitInfoContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    padding: 2%;
}

.CurrUnitUserCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 15%;
    height: fit-content;
    background-color: #ffffff88;
    border-radius: 11px;
    -webkit-box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    color: #313638;
}

.SubjectContentHeader {
    flex: 1;
    height: 8vh;
    width: 100%;
    background-color: $header-backgroundcolor;
    border-radius: 0px 0px 12px 12px;
    -webkit-box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    position: fixed;
    top: 8vh;

    display: flex;
    justify-content: center;
    align-items: end;
}

.HeaderEdits{
    width: 98.5%;
    border-radius: 11px 11px 0 0;
}


.card {
    width: 300px;
    height: 100px;
    border-radius: 11px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: white;
    overflow: hidden;
    -webkit-box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 24px -14px rgba(0,0,0,0.75);
}

.avatar {
    width: 70px;
    height: 70px;
    background-color: #bdbdbd;
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #757575;
    border-radius: 50%;
}

.avatar::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 35px;
    background-color: #757575;
    border-radius: 50px 50px 0 0;
    top: 55px;
}

.card-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #313638;
}

.vertical-line {
    width: 1px;
    height: 80%;
    background-color: #000;
    margin: 0 15px;
}

.student-label {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #424242;
}

.name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.publications-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.publication-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
}

.publication-title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.publication-item h3 {
    margin-top: 0;
    color: #343a40;
    gap: 50px;
}

.publication-autor {
    margin-left: 10px;
    margin-right: 1vw;
    font-size: 0.9em;
    color: #6c757d;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #c82333;
}